body {
    background:linear-gradient(rgba(150, 234, 192, 0.877),rgba(147, 189, 222, 0.959));
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
  
}
h1 {
        color:rgb(17, 79, 38);
        font-size:30px;
        font-weight:bolder;
       
        }	
p{
            color:rgb(22, 139, 143);
            font-size:15px;
            line-height:25px;
            font-weight:bolder;
        }

.heading{
    font-size:20px;
    color:rgba(5, 69, 41, 0.789);
}
span{
    background-color: rgb(221, 238, 145);
    font-style:italic;
}